<html>
  <body>
    <form method="POST" action="/">
      <input type="text" name="user">
      <input type="submit" value="Add">
    </form>

    <h1>Accounts</h1>
    {% for user in users %}
      <p>{{user.username}}</p>
      <p>{{user.password}}</p>
      <p>{{user.created_on}}</p>
      <p>{{user.balance}}</p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{user.username}}" name="olduser">
        <input type="text" value="{{user.username}}" name="newuser">
        <input type="submit" value="Update">
      </form>
    <form method="POST" action="./delete">
      <input type="hidden" value="{{user.username}}" name="user">
      <input type="submit" value="Delete">
    </form>
    {% endfor %}
  </body>
</html>