<!DOCTYPE html>
<html>
<head>
	<title> Forgot Password </title>
	<style type="text/css">
		#main-header{
			text-align: center;
			background-color: DarkBlue;
			color: white;
			padding: 5px;

		}
		#verify_candidate{
			text-align: center;
		}
	</style>
</head>
<body>
	<header id="main-header">
		<h1> Gator Hold'Em </h1>
	</header>

	<section> 
		<article id="verify_candidate">
			<h3> Password Update Failed!</h3>
			<small> (Insert current date and time) </small>
			<p> Thank you for your support, however, it was not possible to reset your password. Please try again, or click on the link below to receive a new password reset email. </p>
			<a href="post.html"> Link to send another email </a>
			<p>Please do not reply to this message, as the mailbox is not monitored. </p>


			<br>
			<br>
			<br>

			<a href="../gators.png">
		 	<img src="../gators.png" width="250">
			</a>
		</article>

	</section>

	
</body>
</html>










